.iti__selected-flag {
    top: 19px;
    height: 33px !important;
    border-radius: 4px;
    transition: .3s;
    width: 88px
}
input#phone {
    padding-left: 47px !important;
  	top: 6px;
}  
.intl-tel-input .flag-dropdown .selected-flag {
  padding: 11px 16px 11px 6px;
}
.intl-tel-input {
  z-index: 99;
  width: 100%;
}
.iti-flag {
  box-shadow: none;
}
.intl-tel-input .selected-flag:focus {
  outline: none;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.0);
}  
.iti--allow-dropdown input{
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
}
.iti__country-list {
    border-radius: 4px !important;
    z-index: 999 !important;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 8%) !important;
    border: 1px solid #ececec !important;
  	width: 270px !important;
  	top: 62px;
}
  .iti__arrow{
  	position: absolute;
    right: 5px;
  }
  .iti--separate-dial-code .iti__selected-flag {
    padding: 24px 6px;
    margin-top: -8px;
}
  .iti--separate-dial-code .iti__selected-flag {
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid #000;
    border-radius: 0;
}
.iti--separate-dial-code .iti__selected-dial-code{
    color: #232323;
	font-size: 15px !important;
    line-height: 24px !important;
}
.iti__dial-code{color: #232323;}
@media(max-width: 600px){
    .iti--separate-dial-code .iti__selected-flag {
      padding: 20px 6px;
	}
}